/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  position: relative;
}
#main {
  position: relative;
  font-family: sans-serif;
}

#page1 {
  min-height: 100vh;
  min-width: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
nav {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0px;
  padding: 0px 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 999999;
  mix-blend-mode: difference;
}

.lft-nav {
  height: 4vh;
  overflow: hidden;
  cursor: pointer;
}
.lft-nav h1 {
  font-size: 1.6vw;
  font-weight: 100;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.lft-nav:hover h1:nth-child(1) {
  margin-top: -4vh;
}

.rght-nav {
  height: 3vh;
  overflow: hidden;
  cursor: pointer;
}
.rght-nav h3 {
  font-size: 1.2vw;
  font-weight: 100;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.rght-nav:hover h3:nth-child(1) {
  margin-top: -3vh;
}
.img-container {
  height: 100vh;
  width: 120%;
  position: relative;
}

.content-part1 {
  height: 140vh;
  min-width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  gap: 1.4vw;
}

.row {
  height: 100%;
  width: 31%;
}
.row-center {
  height: 100%;
  width: 40%;
}
.img {
  height: 32%;
  width: 100%;
  margin: 5px 0px;
}
.img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
#row1,
#row4 {
  margin-top: 8%;
  height: 100%;
  width: 34%;
}
#row2 {
  margin-top: 5%;
}

#row3,
#row5 {
  margin-top: -12%;
}

.overlay {
  height: 120vh;
  width: 100vw;
  background-color: #00000076;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  gap: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}
.overlay h1 {
  font-size: 12.4vw;
  font-weight: 100;
}

.scroll_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scroll_bar h6 {
  font-size: 1vw;
  font-weight: 100;
}
.scroll_bar .scroll {
  height: 2px;
  width: 80px;
  margin-top: 5px;
  background-color: #ffffff47;
}
.scroll_line {
  height: 100%;
  width: 0%;
}

#page2 {
  min-height: 120vh;
  min-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  font-family: sans-serif;
}

.curve {
  height: 100px;
  width: 100%;
  margin-top: -100px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.curve-container {
  height: 750%;
  width: 150%;
  position: absolute;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
}

.center {
  height: 60vh;
  width: 100%;
  position: relative;
  padding: 10vh;
  overflow: hidden;
}
.text1 h1,
.text1 h2,
.text2 h1,
.text2 h2 {
  font-size: 7.5vw;
  font-weight: 100;
}
.text1 {
  opacity: 0.2;
  overflow: hidden;
}
.text2 h1,
.text2 h2 {
  width: 0%;
  text-wrap: nowrap;
  overflow: hidden;
}
.text1 h2,
.text2 h2 {
  font-size: 7.2vw;
  margin-left: 10vw;
}

.text1,
.text2 {
  position: absolute;
}
.footer {
  height: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 3vw 2.5vw;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer p {
  font-size: 1.5vw;
  opacity: 0.7;
}
.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2vw;
  position: relative;
}
.btn {
  height: 60px;
  width: 165px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
.btn h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2.5vh;
  width: 100px;
  overflow: hidden;
  font-size: 1vw;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.btn h3:nth-child(2) {
  margin-top: 5.8vh;
}

.btn:hover h3:nth-child(1) {
  margin-top: -5.8vh;
}
.btn:hover h3:nth-child(2) {
  margin-top: 0vh;
}

.btn2 {
  background-color: #e1e1e1;
  color: #000;
}
.footer-end {
  height: 9vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background-color: #000;
}

.footer-end img {
  -o-object-fit: contain;
  object-fit: contain;
}

#page3 {
  padding: 0px 50px;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#center-div {
  margin-top: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 100vh;
  width: 100%;
}
#center-div h1 {
  font-size: 6vw;
  font-weight: 100;
}
.circle {
  height: 6.5vw;
  width: 6.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.circle img {
  height: 2.1vw;
  width: 2.1vw;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.lft-div {
  height: 100vh;
  width: 30%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2vh;
}

.rght-div {
  height: 100vh;
  width: 70%;
  position: relative;
  padding-top: 30vw;
  overflow: hidden;
}
.scroll-text {
  width: 60%;
  margin-left: 30%;
  margin-top: 18%;
  opacity: 0.5;
}

.scroll-text h2 {
  font-size: 2.8vw;
  font-weight: 100;
  margin-bottom: 7vh;
}

.scroll-text p {
  font-size: 1.5vw;
  font-weight: 100;
  color: #a2a2a2;
}

#page4 {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 8vw;
  /* background: #fff; */
  font-family: sans-serif;
}

#page4 h1 {
  font-size: 2.4vw;
  font-weight: 100;
  color: #a2a2a2;
}
.center2 {
  height: 50vh;
  width: 90%;
  position: relative;
  padding: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.text3 h2,
.text4 h2 {
  font-size: 5vw;
}
.text3 h2 {
  opacity: 0.2;
}

.text3,
.text4 {
  position: absolute;
}

.text4 h2 {
  width: 0%;
  text-wrap: nowrap;
  overflow: hidden;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0px 50px;
  font-family: sans-serif;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #a2a2a253;
  border-bottom: 1px solid #a2a2a253;
}

.lft-row {
  min-height: 30vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lft-row h1 {
  font-size: 5vw;
  font-weight: 100;
}
.rght-row {
  min-height: 30vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rght-row .btn.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rght-row h3 {
  font-weight: 100;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row2 .rght-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  text-align: left;
  gap: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.row2 .rght-row h1 {
  font-size: 2.4vw;
  font-weight: 100;
}

.row2 .text-a {
  font-weight: 100;
  padding: 50px 0px;
}
.text-a h4 {
  font-size: 1.5vw;
  font-weight: 100;
  color: #a2a2a2;
  font-weight: 100;
  margin: 16px 0px;
}

#page6 {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
  background-color: #000;
}

.center-div h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s;
  -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s;
}

.center-div #h1 {
  float: right;
}
#work {
  height: 0px;
  width: 950px;
  display: none;
  overflow: hidden;
}
.img-elem {
  height: 100%;
  width: 100%;
}
.img-elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@media (max-width: 600px) {
  #main {
    overflow: hidden;
  }
  nav {
    padding: 0px 20px;
  }

  .lft-nav h1 {
    font-size: 6vw;
  }
  .rght-nav h3 {
    font-size: 5vw;
  }

  .img-container {
    height: 100vh;
    width: 120%;
    position: relative;
  }

  .content-part1 {
    max-height: 100vh;
    min-width: 160%;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    gap: 1vh;
  }

  .row {
    height: 60%;
    min-width: 30%;
    margin: 6px;
  }

  .row-center {
    height: 100%;
    min-width: 40%;
  }
  .img {
    height: 26%;
    width: 100%;
    margin: 15px 0px;
  }

  #row1,
  #row4 {
    margin-top: 18%;
    height: 100%;
    width: 50%;
  }
  #row2 {
    margin-top: 10%;
  }

  #row3,
  #row5 {
    margin-top: -20%;
  }

  .overlay h1 {
    font-size: 15vw;
    font-weight: 300;
  }

  .scroll_bar h6 {
    font-size: 6vw;
    font-weight: 100;
  }
  .scroll_bar .scroll {
    height: 3px;
    width: 100px;
  }

  #page2 {
    min-height: 100vh;
  }

  #page2 .curve {
    display: none;
  }

  .center {
    height: 30vh;
    width: 100%;
    position: relative;
    padding: 2vh 0px;
    overflow: hidden;
  }

  .text1 {
    text-align: left;
    padding-left: 8px;
    width: 90%;
  }
  .text1 h1,
  .text1 h2 {
    font-size: 10vw;
    font-weight: 500;
  }
  .text1 {
    opacity: 1;
  }
  .text1 h2 {
    margin-left: 0vw;
  }

  .text1 {
    position: absolute;
  }
  .text2 {
    display: none;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4vw 0.5vw;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .footer p {
    font-size: 4.8vw;
    opacity: 0.8;
    font-weight: 500;
  }
  .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.2vw;
    position: relative;
  }
  .btn h3 {
    height: 2.8vh;
    font-weight: 100;
    font-size: 4.5vw;
  }
  .btn h3:nth-child(2) {
    margin-top: 5.8vh;
  }

  .btn:hover h3:nth-child(1) {
    margin-top: -5.8vh;
  }
  .btn:hover h3:nth-child(2) {
    margin-top: 0vh;
  }

  .btn2 {
    background-color: #e1e1e1;
    color: #000;
  }

  .footer-end {
    margin-top: 10px;
    height: 28vw;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer-end img {
    height: 26px;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
  }

  #page3 {
    padding: 0px 25px;
    min-height: 100vh;
  }
  #center-div {
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  #center-div h1 {
    font-size: 9.5vw;
    font-weight: 400;
  }

  .circle {
    height: 15vw;
    width: 15vw;
  }

  .circle img {
    height: 4.5vw;
    width: 4.5vw;
  }

  .lft-div {
    height: 100vh;
    width: 100%;
    gap: 6vh;
  }

  .rght-div {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 25vw;
    overflow: hidden;
    background-color: #fff;
  }
  .scroll-text {
    width: 100%;
    margin-left: 0%;
    margin-top: 22%;
    opacity: 0.6;
  }

  .scroll-text h2 {
    font-size: 9vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5vh;
  }

  .scroll-text p {
    font-size: 6.5vw;
    font-weight: 100;
    text-align: center;
    color: #7c7b7b;
  }

  /* page4  */

  #page4 {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 1vw;
    background: #fff;
    font-family: sans-serif;
  }

  #page4 h1 {
    font-size: 11vw;
    font-weight: 600;
  }

  .center2 {
    height: 60vh;
    width: 100%;
    position: relative;
    padding: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
  }
  .text3 h2 {
    font-size: 10vw;
  }
  .text3 h2 {
    opacity: 1;
  }

  .text3 {
    position: absolute;
  }

  .text4 {
    display: none;
  }

  #page5 {
    min-height: 100vh;
    padding: 0px 25px;
  }

  .lft-row {
    min-height: 25vh;
  }

  .lft-row h1 {
    font-size: 10vw;
  }

  .rght-row {
    min-height: 25vh;
  }

  .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .row2 .lft-row {
    display: none;
  }

  .row2 .rght-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }

  .row2 .rght-row h1 {
    font-size: 8vw;
    font-weight: 100;
    text-align: center;
  }

  .row2 .text-a {
    font-weight: 100;
    padding: 10px 0px;
  }
  .text-a h4 {
    font-size: 5vw;
    margin: 10px 0px;
  }

  /* page6  */

  #page6 .center-div {
    padding: 0px 25px;
  }
  .center-div #h1 {
    float: right;
  }
  #work {
    height: 0px;
    max-height: 250px;
    width: 100%;
  }
  #page6 h1 {
    font-size: 10vw;
  }
}
